$primaryColor: #2962ff;
$primaryLightColor: #768fff;
$primaryDarkColor: #0039cb;
$secondaryColor: #ff6d00;
$secondaryLightColor: #ff9e40;
$secondaryDarkColor: #c43c00;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;

$fa-font-path:   "../assets/fonts/font-awesome/";
