@import 'abstracts/variables';
//@import 'abstracts/functions';
@import 'abstracts/mixins';
//@import 'abstracts/placeholders';

//@import 'vendors/bootstrap';
//@import 'vendors/jquery-ui';

@import 'base/reset';
@import 'base/typography';

//@import 'layout/navigation';
//@import 'layout/grid';
//@import 'layout/header';
//@import 'layout/footer';
//@import 'layout/sidebar';
//@import 'layout/forms';

//@import 'components/buttons';
//@import 'components/carousel';
//@import 'components/cover';
//@import 'components/dropdown';

//@import 'pages/home';
//@import 'pages/contact';

@import 'themes/theme';
//@import 'themes/admin';

nav.navbar div.container a object {
  pointer-events: none;
}

i {
  vertical-align: middle;
}

a {
  i.animate-right {
    margin-left: 12px;
    transition: margin-left 0.2s ease-in-out;
  }
}

a:hover {
  i.animate-right {
    margin-left: 16px;
  }
}

.section-img {
  transform-style: preserve-3d;
  transform: perspective(300px);
  .card-img-overlay {
    position: absolute;
    transform: translateZ(50px);
  }
}

.parallax-text {
  position: relative;
  top: 40px;
}